/* responsive header */
@media (max-width: 600px) {
    .caja {
        flex-direction: column;
        align-items: center;
        gap: 4vw;
    }

    .logo {
        width: 40vw;
    }

    nav {
        text-align: center;
        overflow-x: visible;
        white-space: normal;
    }

    nav li {
        display: inline-block;
        margin: 2vw;
    }

    nav a {
        font-size: 4vw;
    }
}