/* responsive-soporte.css */
@media screen and (max-width: 600px) {
  .informacion-contacto {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.informacion-contacto h2,
.informacion-contacto p {
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0;
}

form {
    width: 100%;
    margin: 20px auto;
}

.input-padron {
    width: 100%;
    box-sizing: border-box;
}

.enviar {
    width: 100%;
    padding: 15px;
    font-size: 16px;
}

table {
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
}

td, th {
    font-size: 0.9em;
    padding: 10px;
    text-align: center;
}

fieldset {
    margin-bottom: 20px;
}

form label,
form legend {
    font-size: 1em;
}
}

